{% extends "base.html" %}
{% block title %}密码重置{% endblock %}
{% block content %}

<div class="container">
    <h1>密码重置</h1>
    <form class="form-horizontal" action="." method="post">
        {% csrf_token %}
        <div class="spadding">

            <label for="{{ form.new_password1.id_for_label }}" class="title">重置密码:</label>
            {{ form.new_password1 }}
        </div>
        <div class="spadding">

            <label for="{{ form.new_password2.id_for_label }}" class="title">确认重置密码:</label>
            {{ form.new_password2 }}
        </div>
        <input type="submit" value="Change Password" class="btn btn-primary btn-lg">
     </form>
    {{ form.new_password1.errors }}
    {{ form.new_password2.errors }}
    <!--{% if form.error_messages.password_mismatch %}-->
    <!--<p style="color:red;">{{ form.error_messages.password_mismatch }}</p>-->
    <!--{% else %}-->
    <!--<p></p>-->
    <!--{% endif %}-->
</div>
{% endblock %}
<style>
    .title {
        float: left;
        width: 150px;
        text-align: left;
        padding-right: 10px;
    }
     div.spadding {
        margin: 10px;
        padding-bottom: 10px;
        width: 500px;
    }
</style>