{% extends "article/base.html" %}
{% load staticfiles %}
{% block title %}文章列表{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'editor/css/style.css' %}">
<link rel="stylesheet" href="{% static 'editor/css/editormd.css' %}">
{% endblock %}
{% block content %}
<div class="container-fluid">
    <table class="table table-hover">
        <tr>
            <td>序号</td>
            <td>标题</td>
            <td>栏目</td>
            <td>操作</td>
        </tr>
        {% for article in articles %}
        <tr>
            <td>{{forloop.counter}}</td> 
            <td><a href="{{article.get_absolute_url}}">{{article.title}}</a></td>
            <td>{{article.column}}</td>
            <td>
                <a name="edit" href="{% url 'article:redit_article' article.id %}"><span class="glyphicon glyphicon-pencil"></span></a>
                <a name="delete" href="javascript:" onclick="del_article(this,{{article.id}})"><span class="glyphicon glyphicon-trash" style="margin-left:20px;color:red;"></span></a>
            </td>
        </tr>
        {% empty %}
        <p>没有任何数据</p>
        {% endfor %}
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if page.has_previous %}
            <a name="pre_page" href="?page={{ page.previous_page_number }}" onclick="">上一页</a>
            {% endif %}
            <span class="current">
                当前 {{ page.number }} -- 总页数 {{ page.paginator.num_pages }}
            </span>
            {% if page.has_next %}
            <a name="next_page" href="?page={{ page.next_page_number }}" onclick="">下一页</a>
            {% endif %}
        </span>
    </div>
</div>
<script type="text/javascript" src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/layer.js' %}"></script>
<script type="text/javascript">
        function del_article(the,article_id){
            var index = layer.open({
            type:1,
            skin:"layui-layer-rim",
            area:["400px","150px"],
            title:"删除文章",
            content:'<div class="text-center" style="margin-top:20px"><p>是否确定删除文章</p></div>',
            btn:['确定','取消'],
            yes:function(index,layero){
                $.ajax({
                    url:'{% url "article:del_article" %}',
                    type:"POST",
                    data:{"article_id":article_id},
                    success:function(e){
                        if (e=="1"){
                            parent.location.reload();
                            layer.msg("OK");
                        }else if(e=="0"){
                            layer.msg("删除出错");
                        }else{
                            layer.msg(e)
                        }
                    },
                });
            },
            btn2:function(index,layero){
                layer.close(index);
            },
        });
        }
</script>
{% endblock %}
