{% extends "article/base.html" %}
{% load staticfiles %}
{% block title %}博客文章{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'editor/css/style.css' %}">
<link rel="stylesheet" href="{% static 'editor/css/editormd.css' %}">
<link rel="stylesheet" href="{% static 'editor/css/editormd.preview.css' %}">

{% endblock %}
{% block content %}
<div class="container-fluid">
    <h1>{{ article.title }}</h1>
    <p>{{user.username}}</p>
    <div id="editormd-view">
        <textarea id="append-test" style="display:none;">
            {{article.body}}
        </textarea>
    </div>
</div>
<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'editor/lib/marked.min.js' %}"></script>
<script src="{% static 'editor/lib/prettify.min.js' %}"></script>
<script src="{% static 'editor/lib/raphael.min.js' %}"></script>
<script src="{% static 'editor/lib/underscore.min.js' %}"></script>
<script src="{% static 'editor/lib/sequence-diagram.min.js' %}"></script>
<script src="{% static 'editor/lib/flowchart.min.js' %}"></script>
<script src="{% static 'editor/lib/jquery.flowchart.min.js' %}"></script>
<script src="{% static 'editor/editormd.js' %}"></script>
<script type="text/javascript">
    $(function() {
	        editormd.markdownToHTML("editormd-view",{
	        htmlDecode:"style,script,iframe",
	        emoji:true,
	        taskList:true,
	        tex:true,
	        flowChart:true,
	        sequenceDiagram:true,
	    });
    });
</script>
{% endblock %}
{% block js %}

{% endblock %}